@import 'variables.scss';

@mixin container {
    padding: 2.2rem;
    border-radius: 8px;
    border: 6px solid var(--main-item);
    background-color: var(--new-york);
}

@mixin buttonGeneralStyles {
    display: grid;
    place-content: center;
    border: none;
    color: var(--white);
    font-size: 1.6rem;
    font-family: $poppins;
    height: 3.4rem;
    width: 7rem;
    background-color: var(--main-item);
    border-radius: 4px;
    transition: background-color 150ms;

    &:hover {
        cursor: pointer;
        background-color: var(--alt-item);
        transition: background-color 200ms;
    }
}

@mixin inputGeneralStyles {
    padding: 0.5rem 0.55rem;
    font-size: 1rem;
    font-family: $noto-sans;
    color: var(--white);
    background-color: var(--main-item);
    border: none;
    border-radius: 4px;
    margin-top: 0.2rem;

    &:focus {
        outline: 3px solid var(--alt-item);
        box-shadow: none;
    }
}
