.header {
    display: flex;
    place-items: center;
    justify-content: space-between;
    margin: auto;
    height: clamp(5rem, 10vw, 7.5rem);
    width: 96vw;
    padding: 1rem;
    background-color: var(--bg-color);
    // z-index: 3;
}

.buttonsContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.4rem;
}

.logo {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 3rem;
}

.recipeButtonText {
    line-height: 1;
    font-size: 1.2rem;
}
