@import './variables';

.header {
    display: flex;
    place-items: center;
    justify-content: space-between;
    margin: auto;
    // height: 8rem;
    width: 96vw;
    padding: 1.2rem;
    // background-color: var(--bg-color);
    // z-index: 3;
}

.buttonsContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.4rem;
}

.logo {
    cursor: pointer;
    width: 18rem;
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.recipeButtonText {
    line-height: 1;
    font-size: 1.2rem;
}
