@import './mixins';

.loginFormsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    form:last-child {
        button:last-child {
            margin-top: 0.3rem;
        }
    }
}

.inputsContainer {
    margin-top: -0.6rem;

    label {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 0.1rem;
    }

    input {
        @include inputGeneralStyles();
        border: 5px solid var(--new-york);
    }

    p {
        margin: 0;
    }

    button {
        &:hover {
            color: var(--main-item);
            background-color: var(--new-york);
            transition: all 250ms;
        }

        &:last-child {
            width: 8.2rem;
            padding-right: 0.5rem;
            margin-top: 1rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        > span:first-child {
            font-family: $poppins;
            font-size: 1.4rem;
        }

        > span:nth-child(2) {
            cursor: pointer;
            text-decoration: underline 2px var(--white);
            padding-bottom: 0.5rem;
            font-style: italic;
            font-family: $poppins;
            font-size: 1rem;
        }
    }

    > span:first-child {
        font-family: $poppins;
        font-size: 2.6rem;
    }
}

@media (max-width: 800px) {
    .inputsContainer {
        input {
            font-size: 1.2rem;
            padding: 0.4rem;
            width: 82%;
        }

        > span:first-child {
            font-size: 2rem;
        }

        button:last-child {
            margin-left: 0.1rem;
            margin-top: 0.3rem;
        }
    }
}
