@import './_mixins.scss';

.recipeForm {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: clamp(25rem, 60vw, 40rem);
    padding: 2rem;
    border-radius: 8px;
    border: 6px solid var(--main-item);
    background-color: var(--new-york);

    h1 {
        margin: 0;
        color: var(--main-item);
    }

    button {
        margin-top: 0.8rem;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--main-item);
        width: fit-content;

        span:first-child {
            padding-left: 0.1rem;
        }

        &[type='file'] {
            padding: 3rem;
        }
    }

    input {
        width: clamp(12rem, 30vw, 15rem);
        @include inputGeneralStyles();
    }
}

.addButton {
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    align-self: flex-end;
}

.imageInputs {
    label {
        @include buttonGeneralStyles();
        font-size: 1rem;
        width: 8rem;
        height: 2.6rem;

        span {
            margin: auto;
            padding-right: 0.15rem;
        }
    }
}

.ingredientsFormSubContainer {
    display: flex;
    gap: 0.5rem;

    textarea {
        width: clamp(15rem, 40vw, 28rem);
        height: 8rem;
        resize: none;
        @include inputGeneralStyles();
    }
}

.inputArrayContainer {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.imageContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;

    span {
        position: relative !important;
        width: 5rem !important;
        height: 5rem !important;

        &:hover {
            cursor: pointer;
            filter: opacity(80%) grayscale(40%) hue-rotate(250deg);
        }
    }
}
