@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap|Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap|Cabin:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

$cabin: 'Cabin', sans-serif;
$poppins: 'Poppins', sans-serif;
$noto-sans: 'Noto Sans', sans-serif;
